<%# Check for any errors and if any found, 
show them in a list in an error message. 
Uses the rails helper 'pluralize' to inspect arguments
(number, string) and if the number is greater than 1, 
make the string plural %>

<% if flash[:errors] %>
    <div id="error explaination">
        <h2> 
            <%= pluralize(flash[:errors].count, "error") %> 
            stopped this article from saving:
        </h2>
        <ul>
            <% flash[:errors].each do |error| %>
                <li><%= error %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<h1>New Articles</h1>


<%# Pass :article object to form_for helper and
use the FormBuilder  object to build 
two text fields (:title, :text) with 
labels (:title, :text).
Point form submit action to the create url 
(articles_path) to create a new article %>

<%= form_with model: @article do |f| %>

    <p>
        <%= f.label :title %><br>
        <%= f.text_field :title %>
    </p>

    <p>
        <%= f.label :text %><br>
        <%= f.text_area :text %>
    </p>

    <p>
        <%= f.submit %>
    </p>

<% end %>


<%= link_to 'Back', articles_path %>