<h1>New Articles</h1>

<%# Pass :article object to form_for helper and
use the FormBuilder  object to build 
two text fields (:title, :text) with 
labels (:title, :text).
Point form submit action to the create url 
(articles_path) to create a new article %>


<%= form_for :article, url: articles_path do |f| %>
    <p>
        <%= f.label :title %><br>
        <%= f.text_field :title %>
    </p>

    <p>
        <%= f.label :text %><br>
        <%= f.text_area :text %>
    </p>

    <p>
        <%= f.submit %>
    </p>
<% end %>

<%= link_to 'Back', articles_path %>